<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus List</title>
    <link rel="stylesheet" href="{{ url_for('static', path='list_buses.css') }}">
</head>
<body>

    <h2>Bus List</h2>

    <table>
        <thead>
            <tr>
                <th>Bus Number</th>
                <th>Driver Name</th>
                <th>Driver Contact</th>
            </tr>
        </thead>
        <tbody id="bus-list"></tbody>
    </table>

    <script src="{{ url_for('static', path='list_buses.js') }}"></script>
</body>
</html>
